
 
 
 .card-con{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
 }

 .card-container{
    background: #fff;
  padding: 20px;
   
  width: 70%;
  height:90%;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  

 }
 
 .card-details {
    flex: 1;                
    overflow-y: auto;         
    margin: 10px 0;
    padding-right: 6px;
  }


.recipe-div{
     
    
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recipe-img{
    width: 100%;
    margin-bottom: 2;
    height:50%;
}

.recipe-h{
    font-size: 1.5rem;
    font-weight: bold;
     
     
}
.recipe-p{
   
    color: #4B5563;  
     
}
 

.recipe-button {
    background-color: #3B82F6;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
     ;
    margin-left: auto;   
    display: block;
}

.recipe-content{
    padding: 4px;
    height: 40%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.loading {
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
  }
  
  .hidden {
    display: none;
  }

  
 .hide{
    display: none;
    
 }
